.article__title {
  font-size: 1.5rem;
}

.article__subtitle {
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: .7;
  color: #000;
  font-weight: 600;
}

.article__subtitle > li {
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
}

.article__subtitle--date {
  text-decoration: none !important;
  font-size: 14px;
  font-weight: 600;
  color: inherit;
}

.article__subtitle--tags > a {
  margin-right: 0.7rem;
}

.article__subtitle--tag {
  text-decoration: none !important;
  font-weight: 600;
  padding: 0;
  margin-right: 0.7rem;
  color: inherit;
}

.article__subtitle--tag:hover {
  color: #0056b3;
}

.article__contents {
  display: flex;
  align-items: flex-start;
}

.article__contents--image-container {
  width: 25%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.article__contents--image {
  width: 100%;
}

.article__contents--body {
  width: 70%;
  margin-left: 1.5rem;
}

/* medium devices */
@media (max-width: 768px) {
  .article__contents--image-container {
    display: none;
  }

  .article__contents--body {
    width: 100%;
    margin: 0;
  }
}
