service: famoustitle

provider:
  name: aws
  runtime: go1.x
  region: ${file(./.${self:provider.stage}.yml):REGION}
  stage: ${opt:stage, 'development'}
  timeout: 10
  environment:
      APP_ENV:  ${self:provider.stage}
      DOMAIN_URL: ${file(./.${self:provider.stage}.yml):DOMAIN_URL}
      ELASTICSEARCH_HOST_URL: ${file(./.${self:provider.stage}.yml):ELASTICSEARCH_HOST_URL}
      DYNAMODB_HOST_URL: ${file(./.${self:provider.stage}.yml):DYNAMODB_HOST_URL}
      AWS_ID: ${file(./.${self:provider.stage}.yml):AWS_ACCESS_KEY_ID}
      AWS_SECRET: ${file(./.${self:provider.stage}.yml):AWS_SECRET_ACCESS_KEY}
package:
 exclude:
   - ./**
 include:
   - ./bin/**

plugins:
  - serverless-sam
  - serverless-finch
  - serverless-iam-roles-per-function

custom:
  client:
    bucketName: ${file(./.${self:provider.stage}.yml):BUCKET_NAME}
    errorDocument: index.html
    objectHeaders:
      index.html:
        - name: Cache-Control
          value: max-age=0

functions:
  archives_articles:
    handler: bin/archives_articles_index
    events:
      - http:
          path: /archives/articles
          method: get
          cors: true
  articles_index:
    handler: bin/articles_index
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - "dynamodb:Scan"
        Resource: ${file(./.${self:provider.stage}.yml):ARN_DB_RESOURCE_ARTICLES}
    events:
      - http:
          path: /articles
          method: get
          cors: true
  articles_create:
    handler: bin/articles_create
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - "dynamodb:PutItem"
        Resource: ${file(./.${self:provider.stage}.yml):ARN_DB_RESOURCE_ARTICLES}
      - Effect: "Allow"
        Action:
          - "dynamodb:GetItem"
          - "dynamodb:UpdateItem"
        Resource: ${file(./.${self:provider.stage}.yml):ARN_DB_RESOURCE_USERS}
    events:
      - http:
          path: /articles
          method: post
          cors: true
  articles_show:
    handler: bin/articles_show
    events:
      - http:
          path: /articles/{id}
          method: get
          cors: true
  articles_update:
    handler: bin/articles_update
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - "dynamodb:GetItem"
          - "dynamodb:UpdateItem"
        Resource: ${file(./.${self:provider.stage}.yml):ARN_DB_RESOURCE_ARTICLES}
      - Effect: "Allow"
        Action:
          - "dynamodb:GetItem"
          - "dynamodb:UpdateItem"
        Resource: ${file(./.${self:provider.stage}.yml):ARN_DB_RESOURCE_USERS}
    events:
      - http:
          path: /articles/{id}
          method: post
          cors: true
  articles_destroy:
    handler: bin/articles_destroy
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - "dynamodb:GetItem"
          - "dynamodb:DeleteItem"
        Resource: ${file(./.${self:provider.stage}.yml):ARN_DB_RESOURCE_ARTICLES}
      - Effect: "Allow"
        Action:
          - "dynamodb:GetItem"
          - "dynamodb:UpdateItem"
        Resource: ${file(./.${self:provider.stage}.yml):ARN_DB_RESOURCE_USERS}
    events:
      - http:
          path: /articles/{id}
          method: delete
          cors: true
  tokens_create:
    handler: bin/tokens_create
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - "dynamodb:GetItem"
        Resource: ${file(./.${self:provider.stage}.yml):ARN_DB_RESOURCE_USERS}
    events:
      - http:
          path: /tokens
          method: post
          cors: true
  user_articles_verify:
    handler: bin/user_articles_verify_show
    events:
      - http:
          path: /users_articles/verify/{id}
          method: get
          cors: true
  users_create:
    handler: bin/users_create
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - "dynamodb:GetItem"
          - "dynamodb:PutItem"
        Resource: ${file(./.${self:provider.stage}.yml):ARN_DB_RESOURCE_USERS}
    events:
      - http:
          path: /users
          method: post
          cors: true
