.body-markdown img {
    max-width: 100%;
}

.body-markdown.spacing {
    line-height: 2rem;
}

.nav-title {
    font-weight: bolder;
    font-size: 2rem;
}

@media (min-width: 1140px) {
    .article-show-container {
        max-width: 768px;
    }
}

@media (min-width: 992px) {
    .article-show-container {
        max-width: 768px;
    }
}
