.article-show-container ol li {
    font-size: 2.3rem;
    font-style: italic;
}

.hljs {
    line-height: 2rem;
    padding: 1rem !important;
}

.art-image {
    height: 450px;
    position: relative;
    color: white;
    transition: all 450ms;
}

.article-item-subtitle {
    font-size: 1.5rem;
}

.body-markdown img {
    max-width: 100%;
}

.body-markdown.spacing {
    line-height: 4.5rem;
    word-break: break-word;
}

.body-markdown h1 {
    margin-top: 6rem;
    margin-bottom: 1.5rem;
}

.body-markdown h2 {
    margin-top: 8rem;
    margin-bottom: 1.5rem;
}

.body-markdown h3 {
    margin-top: 6rem;
    margin-bottom: 1.5rem;
}

.nav-brand-text {
    font-weight: 700;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.nav-title {
    font-weight: bolder;
    font-size: 2rem;
}

.modal-article-img-dialog {
    max-width: 70%;
}

.modal-img {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

@media (min-width: 992px) {
    .article-show-container {
        max-width: 768px;
    }
}

@media (max-width: 576px) {
    .modal-article-img-dialog {
        max-width: 100%;
    }
}
